.container {
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 10em;
}

body{
    background-color: darkslategrey;
    color: white;
    font-size: xx-large;
    font-family: sans-serif;
}
td{
    border-style: solid;
    padding: 2rem;
    border-color: black;
    border-collapse: collapse;
    width: 100%;
}