<html>
    <head>
        <title>Candreu - Contact</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
      <div class="header-name">
        <a class="brand" href="/">კანდრეუ</a>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="/cart">კალათა</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-us">ჩვენს შესახებ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts">კონტაქტი</a>
          </li>
        </ul>
      </div>
          <div class="contact">
                <p>
            კანდრეუ - ეს არის ეკოლოგიურად სუფთა, ანტიალერგიული ძაფისაგან დამზადებული ხელნაკეთი სათამაშოების ქართული ბრენდი.
                </p>
                <p>
            თითოეული ახალი  დეტალისა თუ მასალის  შერჩევა ხდება სათითაოდ და ყურადღებით, რადგან ჩვენთვის მომხმარებლის აზრი უმნიშვნელოვანესია.
                </p>
                <p>
            ამჟამად, ჩვენი პოვნა შეგიძლიათ თბილისში სხვადასხვა ფესტივალებზე. მომავალში გვსურს, ფილიალის გახსნა.
                </p>
                <p>
            ახლა კი, შეგიძლიათ ჩვენს ონლაინ-გვერდზე მოგვწეროთ და შეგვიკვეთოთ სასურველი პროდუქტი, რომელსაც კურიერი დანიშნულების ადგილზე მოგიტანთ.
                </p>
                <p>
            კანდრეუს სათამაშოები შექმნილია თქვენი ფერადი მომავლისთვის!
                </p>
          </div>
    </body>
</html>