<html>
  <head>
    <title>Candreu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <header>

    </header>
    <div class="parent">
    {% for course in courses: %}
    <div class="child">
      <img src="{{course.Image}}">
      <div>
        <h5 class="item-name">{{course.Name}}</h5>
        <p class="item-price">{{course.Price}} ₾</p>
        <a type="button" class="cart-button" id="addbtn" href="/add-cart">კალათაში დამატება</a>
      </div>
    </div>
    {% endfor %}
  </div>
  </body>
</html>